<div class="mat-table__loading-spinner" *ngIf="loadingDialog">
	<mat-spinner diameter="60"></mat-spinner>
</div>
<div class="kt-portlet" *ngIf="!loadingDialog">
	<div class="kt-portlet__head kt-portlet__head__custom">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">{{ data.windowTitle }}</h3>
			<div class="dialog-close-button">
				<button
					class="close-icon"
					mat-icon-button
					color="warn"
					(click)="onCloseDialog()"
				>
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div mat-dialog-content style="overflow: hidden;max-height:100%;">
			<mat-horizontal-stepper [linear]="true" #stepper>
				<mat-step [stepControl]="devicesFormGroup" [editable]="false">
					<form [formGroup]="devicesFormGroup">
						<ng-template matStepLabel
							>Enter the devices ID's</ng-template
						>
						<div
							style="flex-direction: column; display:flex;width:150px;margin-bottom: 10px;"
						>
							<mat-form-field style="width:800px;">
								<mat-chip-list
									#chipList
									aria-label="Devices Selection"
									formControlName="devicesCtrl"
									required
								>
									<mat-chip
										*ngFor="let dev of deviceSelectionChip"
										[selectable]="true"
										[removable]="true"
										(removed)="onRemoveDeviceToScan(dev)"
										>{{ dev }}
										<mat-icon matChipRemove
											>cancel</mat-icon
										>
									</mat-chip>
									<input
										matInput
										placeholder="Device ID"
										formControlName="devicesCtrl"
										[matChipInputFor]="chipList"
										[matChipInputSeparatorKeyCodes]="
											separatorKeysCodes
										"
										[matChipInputAddOnBlur]="true"
										(matChipInputTokenEnd)="
											addDeviceToScan($event)
										"
										required
										[matAutocomplete]="auto"
										style="margin-top: 15px;"
										#deviceInput
									/>

									<mat-autocomplete
										#auto="matAutocomplete"
										(optionSelected)="
											onSelectDevice($event)
										"
									>
										<mat-progress-bar
											*ngIf="isSearching"
											class="kt-loading"
											mode="indeterminate"
										></mat-progress-bar>
										<mat-option *ngIf="isSearching"
											>Loading...</mat-option
										>
										<ng-container *ngIf="!isSearching">
											<mat-option
												*ngFor="
													let device of filteredDevices
												"
												[value]="device"
											>
												<span>{{ device }}</span>
											</mat-option>
										</ng-container>
									</mat-autocomplete>
								</mat-chip-list>
								<mat-error
									*ngIf="
										deviceSelectionChip.length === 0 ||
										devicesFormGroup.get('devicesCtrl')
											.invalid
									"
									>Select at least one device</mat-error
								>
								<mat-error
									*ngIf="
										deviceSelectionChip.length >
										maxDevicesScan
									"
									>A Maximum of {{ maxDevicesScan }} devices
									can be selected</mat-error
								>
							</mat-form-field>
							<mat-form-field
								style="margin-top:15px;width:220px;"
							>
								<mat-label>Target OS Type</mat-label>
								<mat-select
									formControlName="osTypeCtrl"
									name="Target OS Type"
									required
								>
									<mat-option
										*ngFor="let os of supportedOS"
										[value]="os"
										>{{ os }}</mat-option
									>
								</mat-select>
								<mat-error>Select the Target OS</mat-error>
							</mat-form-field>
							<mat-form-field
								style="margin-top:15px;width:220px;"
							>
								<mat-label>Device Credentials</mat-label>
								<mat-select
									formControlName="credentialsCtrl"
									name="Device Credentials"
									required
								>
									<mat-option
										*ngFor="
											let cred of userDeviceCredentials
										"
										[value]="cred.credentialsName"
										>{{ cred.credentialsName }}</mat-option
									>
								</mat-select>
								<mat-error>Select device credentials</mat-error>
							</mat-form-field>
							<mat-form-field style="margin-top:15px;width:220px">
								<mat-label>SSH Gateway</mat-label>
								<mat-select
									formControlName="sshGatewayCtrl"
									name="SSH Gateway"
								>
									<mat-option
										*ngFor="
											let sshgw of enterpriseSSHGateway
										"
										[value]="sshgw.gatewayName"
										>{{ sshgw.gatewayName }}</mat-option
									>
								</mat-select>
							</mat-form-field>
							<button
								mat-raised-button
								color="primary"
								matStepperNext
								(click)="onSubmitScan()"
								style="margin-top: 20px;"
							>
								Launch Scan
							</button>
						</div>
					</form>
				</mat-step>
				<mat-step [stepControl]="logStreamFormGroup">
					<form [formGroup]="logStreamFormGroup">
						<ng-template matStepLabel
							>View Scan Job logs</ng-template
						>
						<div style="position: relative;">
							<ngb-progressbar
								*ngIf="isScanning"
								type="info"
								[value]="100"
								[striped]="true"
								[animated]="true"
							></ngb-progressbar>
							<a
								href="javascript:;"
								class="kt-portlet__code-copy"
								title="Copy Logs"
								matTooltip="Copy Logs"
								style="right:1%;top:2%;"
								(click)="onCopyLogContent()"
							>
								<i class="la la-copy"></i>
							</a>
							<pre
								#logStreamContent
								style="background-color: black;color: white;height:700px;font-size: 14px;padding:20px;"
							><strong>Scan Job Logs</strong><br><br>{{ webSocketSubject | async }}</pre>
						</div>
						<div style="flex-direction: row">
							<mat-bar-button
								[options]="barButtonOptions"
								(btnClick)="stepper.next()"
							>
							</mat-bar-button>
						</div>
					</form>
				</mat-step>
				<mat-step>
					<ng-template matStepLabel>Scan Results</ng-template>
					<vscan-scan-results
						*ngIf="scanResults"
						[scanResults]="scanResults"
					></vscan-scan-results>
				</mat-step>
			</mat-horizontal-stepper>
		</div>
	</div>
</div>
