<div class="kt-widget26">
	<div class="kt-widget26__content"></div>
	<div class="kt-widget26__chart">
		<!--		<canvas-->
		<!--			baseChart-->
		<!--			width="350"-->
		<!--			height="200"-->
		<!--			[datasets]="lineChartData"-->
		<!--			[labels]="lineChartLabels"-->
		<!--			[chartType]="lineChartType"-->
		<!--			[options]="lineChartOptions"-->
		<!--		>-->
		<!--		</canvas>-->
		<canvas
			baseChart
			[datasets]="barChartData"
			[labels]="barChartLabels"
			[options]="barChartOptions"
			[legend]="barChartLegend"
			[chartType]="barChartType"
		>
		</canvas>
	</div>
</div>
