<div class="footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop">
	<div class="container-fluid">
		<div class="row">
			<a href="https://www.tatacommunications.com" target="_blank"
				><img
					[style.width.%]="90"
					src="./assets/media/logos/tata-communication.png"
					alt="TATA COMMUNICATIONS"
			/></a>

			<div class="text-center" style="margin: auto;">
				<ul class="footer-nav">
					<li><a class="kt-link" href="#.">About Us</a></li>
					<li><a href="#.">Contact Us</a></li>
					<!--								<li><a href="#.">Policies</a></li>-->
					<!--								<li><a href="#.">Legal</a></li>-->
					<!--								<li><a href="#.">Sitemap</a></li>-->
				</ul>
			</div>
			<div class="text-right">
				&copy; {{ today | date: "yyyy" }} Tata Communications Ltd. All
				rights reserved.
			</div>
		</div>
	</div>
</div>
