.mat-raised-button:hover {
	&.mat-primary {
		color: #fff;
		background-color: #ee6214;
	}
}

.mat-raised-button:hover {
	&.mat-accent {
		color: #fff;
		background-color: #4447c3;
	}
}

.mat-raised-button:hover {
	&.mat-warn {
		color: #fff;
		background-color: rgb(200, 37, 43);
	}
}

.mat-footer-row,
.mat-header-row,
.mat-row {
	display: inline-flex;
	min-width: 100%;
}
