<kt-portlet>
	<div style="position: relative">
		<ng-template #customLoadingTemplate>
			<div class="mat-table__loading-spinner">
				<h3>
					Processing Data...
				</h3>
			</div>
		</ng-template>
		<ngx-loading
			[show]="dataSource.loading$ | async"
			[template]="customLoadingTemplate"
		></ngx-loading>
		<!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
		<kt-portlet-header [class]="'kt-portlet__head--lg'">
			<!-- PORTLET LOADING | Binded to TABLE Datasource -->

			<ng-container ktPortletTitle>
				<h3 class="kt-portlet__head-title">
					<span translate="ECOMMERCE.CUSTOMERS.CUSTOMERS_LIST"
						>Scan Job History</span
					>
				</h3>
				<!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
				<!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
			</ng-container>

			<ng-container ktPortletTools>
				<button
					(click)="onClearFilters()"
					mat-raised-button
					matTooltip="Clear Dropdown Filters"
					color="accent"
					type="button"
				>
					<i class="flaticon2-sort-down"></i>
					<span translate="ECOMMERCE.CUSTOMERS.NEW_CUSTOMER"
						>&nbsp;&nbsp;Clear Filters</span
					>
				</button>
				<!-- Buttons (Material Angular) | See off.documenations 'https://material.angular.io/components/button/overview' -->
				<!-- mat-raised-button | Rectangular contained button w/ elevation  -->
			</ng-container>
		</kt-portlet-header>
		<!-- end::Header -->

		<kt-portlet-body>
			<!-- start::FILTERS & GROUP ACTIONS -->
			<div class="kt-form kt-margin-b-30">
				<!-- start::FILTERS -->
				<div class="kt-form__filtration">
					<div class="row align-items-center">
						<div class="col-md-1 kt-margin-bottom-10-mobile">
							<div class="kt-form__control">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select
										[(value)]="filterJobResults"
										(selectionChange)="
											onDropDownFilterSelect()
										"
									>
										<mat-option value="FAILED"
											>FAILED</mat-option
										>
										<mat-option value="SUCCESS"
											>SUCCESS</mat-option
										>
										<mat-option value="UNKNOWN"
											>UNKNOWN</mat-option
										>
									</mat-select>
									<mat-hint align="start">
										<strong>Filter</strong> by Job Status
									</mat-hint>
								</mat-form-field>
							</div>
						</div>

						<div
							class="col-md-3 kt-margin-bottom-10-mobile"
							*ngIf="rootUser"
						>
							<div class="kt-form__control">
								<mat-form-field class="mat-form-field-fluid">
									<mat-select
										[(value)]="filterUsers"
										(selectionChange)="
											onDropDownFilterSelect()
										"
									>
										<mat-option
											*ngFor="let user of usersArray"
											[value]="user.userID"
											>{{ user.email }}</mat-option
										>
									</mat-select>
									<mat-hint align="start">
										<strong>Filter</strong> by Users
									</mat-hint>
								</mat-form-field>
							</div>
						</div>

						<div class="col-md-2 kt-margin-bottom-10-mobile">
							<mat-form-field
								class="mat-form-field-fluid"
								style="color: black;"
							>
								<input
									matInput
									[placeholder]="'Inventory device search'"
									#searchInputDevName
								/>
								<mat-hint align="start">
									Search an<strong>
										inventory device hostname</strong
									>
								</mat-hint>
							</mat-form-field>
						</div>

						<div class="col-md-2 kt-margin-bottom-10-mobile">
							<mat-form-field
								class="mat-form-field-fluid"
								style="color: black;"
							>
								<input
									matInput
									[placeholder]="'Device IP search'"
									#searchInputDevIP
								/>
								<mat-hint align="start">
									Search a<strong> Device IP</strong>
								</mat-hint>
							</mat-form-field>
						</div>

						<div class="col-md-2 kt-margin-bottom-10-mobile">
							<mat-form-field
								class="mat-form-field-fluid"
								style="color: black;"
							>
								<input
									matInput
									[placeholder]="'Logs Search'"
									#searchInputJobLogs
								/>
								<mat-hint align="start">
									Search a <strong>word in logs</strong>
								</mat-hint>
							</mat-form-field>
						</div>

						<div class="col-md-1 kt-margin-bottom-10-mobile">
							<mat-form-field
								class="mat-form-field-fluid"
								style="color: black;"
								color="primary"
							>
								<input
									matInput
									readonly
									[matDatepicker]="startDatePicker"
									(dateChange)="dateStartPickedChange($event)"
								/>
								<mat-datepicker-toggle
									matSuffix
									[for]="startDatePicker"
								></mat-datepicker-toggle>
								<mat-datepicker
									color="primary"
									#startDatePicker
								></mat-datepicker>
								<mat-hint align="start">
									After Start Date
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-1 kt-margin-bottom-10-mobile">
							<mat-form-field
								class="mat-form-field-fluid"
								style="color: black;"
								color="primary"
							>
								<input
									matInput
									readonly
									[matDatepicker]="endDatePicker"
									(dateChange)="dateEndPickedChange($event)"
								/>
								<mat-datepicker-toggle
									matSuffix
									[for]="endDatePicker"
								></mat-datepicker-toggle>
								<mat-datepicker
									color="primary"
									#endDatePicker
								></mat-datepicker>
								<mat-hint align="start">
									Before End Date
								</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
				<!-- end::FILTERS -->

				<!-- start::GROUP ACTIONS -->
				<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
				<!-- Group actions are shared for all LISTS | See '../../_shared' folder -->
				<div
					class="row align-items-center collapse kt-form__group-actions kt-margin-top-20 kt-margin-bottom-20"
					[ngClass]="{ show: selection.selected.length > 0 }"
				>
					<!-- We show 'Group Actions' div if smth are selected -->
					<div class="col-xl-12">
						<div class="kt-form__group kt-form__group--inline">
							<div class="kt-form__label kt-form__label-no-wrap">
								<label class="kt-font-bold">
									<!--									<span-->
									<!--										translate="ECOMMERCE.COMMON.SELECTED_RECORDS_COUNT"-->
									<!--									></span>-->
									Records Selected:
									{{ selection.selected.length }}
								</label>
								<!-- selectedCountsTitle => function from codeBehind (customer-list.component.ts file) -->
								<!-- selectedCountsTitle => just returns title of selected items count -->
								<!-- for example: Selected records count: 4 -->
							</div>
							<div
								class="kt-form__control kt-form__group--inline"
							>
								<button
									mat-raised-button
									color="warn"
									matTooltip="Delete job(s)"
									class="mat-button-mt-4"
									(click)="deleteJobsHistory()"
								>
									<mat-icon>delete</mat-icon>
									Delete Selected</button
								>&nbsp;<!-- Call 'delete-entity-dialog' from _shared folder -->
							</div>
						</div>
					</div>
				</div>
				<!-- end::GROUP ACTIONS -->
			</div>
			<!-- end::FILTERS & GROUP ACTIONS -->

			<!-- MATERIAL TABLE | Binded to datasources -->
			<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
			<div class="mat-table__wrapper">
				<mat-table
					class="lmat-elevation-z8"
					#table
					[dataSource]="dataSource"
					matSort
					#sort1="matSort"
					matSortActive="startTime"
					matSortDirection="asc"
					matSortDisableClear
				>
					<!-- Checkbox Column -->

					<!-- Table with selection -->
					<!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
					<ng-container matColumnDef="select">
						<mat-header-cell
							*matHeaderCellDef
							class="mat-column-checkbox"
						>
							<mat-checkbox
								(change)="$event ? masterToggle() : null"
								[checked]="
									selection.hasValue() && isAllSelected()
								"
								[indeterminate]="
									selection.hasValue() && !isAllSelected()
								"
								[color]="'primary'"
							>
							</mat-checkbox>
						</mat-header-cell>
						<mat-cell
							*matCellDef="let row"
							class="mat-column-checkbox"
						>
							<mat-checkbox
								(click)="$event.stopPropagation()"
								(change)="$event ? selection.toggle(row) : null"
								[checked]="selection.isSelected(row)"
								[color]="'primary'"
							>
							</mat-checkbox>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="jobID">
						<!-- ATTRIBUTE mat-sort-header  for sorting | https://material.angular.io/components/sort/overview -->
						<mat-header-cell *matHeaderCellDef mat-sort-header
							>Job ID</mat-header-cell
						>
						<mat-cell *matCellDef="let job">{{
							job.jobID
						}}</mat-cell>
					</ng-container>

					<ng-container matColumnDef="startTime">
						<mat-header-cell *matHeaderCellDef mat-sort-header
							>Start Date/Time</mat-header-cell
						>
						<mat-cell *matCellDef="let job">
							<mat-chip-list>
								<mat-chip style="font-size: 12px;">
									{{ job.startTime | date: "medium" }}
								</mat-chip>
							</mat-chip-list>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="endTime">
						<mat-header-cell *matHeaderCellDef mat-sort-header
							>End Date/Time</mat-header-cell
						>
						<mat-cell *matCellDef="let job">
							<mat-chip-list>
								<mat-chip style="font-size: 12px;">
									{{ job.endTime | date: "medium" }}
								</mat-chip>
							</mat-chip-list>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="jobResult">
						<mat-header-cell *matHeaderCellDef mat-sort-header
							>Job Result</mat-header-cell
						>
						<mat-cell *matCellDef="let job">
							<mat-chip-list>
								<mat-chip
									style="color: white;font-size:12px;"
									[ngStyle]="{
										'background-color': getColorJobResult(
											job.jobStatus
										)
									}"
								>
									{{ job.jobStatus }}
								</mat-chip>
							</mat-chip-list>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="userID" *ngIf="rootUser">
						<mat-header-cell *matHeaderCellDef mat-sort-header
							>User</mat-header-cell
						>
						<mat-cell *matCellDef="let job">
							{{ job.user }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="agent">
						<mat-header-cell *matHeaderCellDef mat-sort-header
							>Agent</mat-header-cell
						>
						<mat-cell *matCellDef="let job">
							{{ job.agent }}
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="devicesScanned">
						<mat-header-cell *matHeaderCellDef mat-sort-header
							>Devices Scanned</mat-header-cell
						>
						<mat-cell *matCellDef="let job">
							<button
								mat-raised-button
								matTooltip="Click to view devices"
								color="accent"
								(click)="onViewScannedDevices(job)"
								[disabled]="!job.devicesScannedName?.length"
							>
								{{
									job.devicesScannedName
										? job.devicesScannedName.length
										: 0
								}}
							</button>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="jobLogs">
						<mat-header-cell *matHeaderCellDef
							>Job Logs</mat-header-cell
						>
						<mat-cell *matCellDef="let job">
							<button
								mat-icon-button
								color="accent"
								matTooltip="View Job Details"
								(click)="onViewLogs(job)"
							>
								<mat-icon>visibility</mat-icon></button
							>&nbsp;
						</mat-cell>
					</ng-container>

					<mat-header-row
						*matHeaderRowDef="columnsToDisplay()"
					></mat-header-row>

					<mat-row
						*matRowDef="let row; columns: columnsToDisplay()"
					></mat-row>
				</mat-table>
				<!-- Message for empty data  -->
				<!--			<div class="mat-table__message" *ngIf="!dataSource.hasItems">-->
				<div class="mat-table__message" *ngIf="!dataSource.hasItems">
					No records found
				</div>
			</div>

			<!-- start: BOTTOM -->
			<div class="mat-table__bottom">
				<!-- MATERIAL SPINNER | Url: 'https://material.angular.io/components/progress-spinner/overview' -->
				<mat-spinner
					[diameter]="20"
					*ngIf="dataSource.loading$ | async"
				></mat-spinner>
				<!-- MATERIAL PAGINATOR | Binded to dasources -->
				<!-- See off.documentations 'https://material.angular.io/components/paginator/overview' -->
				<mat-paginator
					[pageSize]="10"
					[pageSizeOptions]="[5, 10, 20, 50]"
					[length]="dataSource.paginatorTotal$ | async"
					[showFirstLastButtons]="true"
				></mat-paginator>
			</div>
			<!-- end: BOTTOM -->
		</kt-portlet-body>
		<!-- end::Body -->
	</div>
</kt-portlet>
