.mat-option {
	font-size: 12px !important;
	font-family: Gotham !important;
	font-weight: normal !important;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
	background-image: linear-gradient(
		to right,
		rgba(216, 220, 230, 0.42)
	) !important;
	background-size: 1px 100% !important;
	background-repeat: repeat-x !important;
}

.mat-option {
	&.mat-active {
		background: rgba(234, 121, 38, 0.15) !important;
	}
}

.mat-cell {
	font-size: calc(6px + 0.3vw);
	font-weight: 300;
}

.mat-column-jobID {
	flex: 0 0 20% !important;
	min-width: 80px !important;
}
.mat-column-userID {
	flex: 0 0 20% !important;
	min-width: 100px !important;
}
.mat-column-startTime {
	flex: 0 0 12% !important;
	min-width: 50px !important;
}
.mat-column-endTime {
	flex: 0 0 12% !important;
	min-width: 50px !important;
}

.mat-column-agent {
	flex: 0 0 13% !important;
	min-width: 60px !important;
}
