.mat-option {
	font-size: 12px !important;
	font-family: Gotham !important;
	font-weight: normal !important;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline {
	background-image: linear-gradient(
		to right,
		rgba(216, 220, 230, 0.42)
	) !important;
	background-size: 1px 100% !important;
	background-repeat: repeat-x !important;
}

.mat-cell {
	font-size: 12px;
	font-weight: 300;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
	flex: 0 0 20%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
	flex: 0 0 15%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
	flex: 0 0 15%;
}
